.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 16px;
  background-color: #3c8dbc;
}
.main-header .logo:hover {
          background-color: #3c8dbc;
        }
#inq_input {
			  font-size: 16px;
        }